[Unit]
Description=pouch

[Service]
ExecStart=/usr/bin/pouchd
ExecReload=/bin/kill -HUP $MAINPID

# Having non-zero Limit*s causes performance problems due to accounting overhead
# in the kernel. We recommend using cgroups to do container-local accounting.
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity

TimeoutStartSec=0
# set delegate yes so that systemd does not reset the cgroups of pouch containers
Delegate=yes

# kill only the pouch process, not all processes in the cgroup
KillMode=process

# restart the pouch process if it exits prematurely
Restart=on-failure
StartLimitBurst=3
StartLimitInterval=60s

[Install]
WantedBy=multi-user.target
