# Some user would build a binary for pouch
pouchd
pouch
*.patch
volume_build.go
hook_plugins_build.go
coverage.txt
.*.swp
.*.swo
.editorconfig
.bashrc
.idea
.DS_Store
bin/
coverage/
test/testdata/cp/*
