dist: trusty
sudo: required

language: go
go:
  - 1.8.3
    
go_import_path: github.com/alibaba/pouch

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y -qq autoconf automake

script:
  - cd ${TRAVIS_BUILD_DIR}
  - docker build --quiet -t pouch:test . 
  - docker run -ti pouch:test bash -c "make check && make build && make unit-test"
