dist: trusty
sudo: required

language: go
go:
  - 1.10.4

go_import_path: github.com/alibaba/pouch

before_install:
  |
    echo $TRAVIS_COMMIT_RANGE
    git diff --name-only $TRAVIS_COMMIT_RANGE | grep -qvE '(\.md$)' || {
      echo "travis does not run for document-only changed"
      exit
    }

notifications:
  webhooks:
    urls:
      - http://47.96.190.121:6789/ci_notifications
    on_failure: always
    on_error: always

jobs:
  include:
    - stage: test
      name: "Unit test"
      script: ./travis_ci.sh unittest

    - stage: test
      name: "CRIv1alpha2 test"
      script: ./travis_ci.sh criv1alpha2test

    - stage: test
      name: "Node e2e test"
      script: ./travis_ci.sh nodee2etest

    - stage: test
      name: "Integration test 1"
      script: ./travis_ci.sh integrationtest 3 1
    - stage: test
      name: "Integration test 2"
      script: ./travis_ci.sh integrationtest 3 2
    - stage: test
      name: "Integration test 3"
      script: ./travis_ci.sh integrationtest 3 3

after_success:
  - bash <(curl -s https://codecov.io/bash) -cF ${TEST_SUITE} -y .codecov.yml
